.App {
  text-align: center;
}

.form-section{
  float: left;
  width: 40%;
}
.Table-area{
float: right;
width: 60%;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.form-field{
  margin-bottom: 20px;
}
input[type="text"]{
  padding: 8px 20px;
}

.table-heading h2{
  color: gray;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}
::placeholder{
  letter-spacing: 2.2px;
}
.submit{
  padding: 8px 31px;
  background: #ec6100;
  border: 1px solid #ec6100;
  border-radius: 5px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  transition: .4s;
  letter-spacing: 2.1px;
}
.submit:hover{
  background-color: blue;
  border:1px solid blue;
}
.edit,.delete{
  height: 30px;
  width: 30px;
  margin: 0px 3px;
  border-radius: 50%;
  background: green;
  color: #fff;
  cursor: pointer;
  border: 1px solid green;
  transition: .4s;
}
.delete{
background-color: red;
border:1px solid red;
}
.edit:hover,.delete:hover{
  background-color: black;
  border:1px solid black;
}
body{
  background-image: url("./assetes/images/backgroundimage.jpg");
  color: #fff;
  background-size: cover;
}
.home-page h1{
  margin: 0;
  padding: 27px 0px;
  background: black;
  border-bottom: 3px solid #fff;
}
.page-wr{
  padding: 40px 0px;
}
.red{
  color: red;
}
.green{
  color: green;
}
.blue{
  color: blue;
}